{% extends 'base.html' %}
{% block content %}
<main> 

<div class="b-example-divider"></div>
<div class="container my-5 img-fluid">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-lg-start shadow-lg px-5 shadow-lg mb-4" alt="Example image"  loading="lazy">
    <div class="px-4 pt-5 my-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6"></div>
    <div class="col-lg-6">
    <h1 class="display-5 fw-bold mb-3">COURTNEY TOY</h1>
    <h2>WEB DEVELOPER.</h2>
    </div>
    <div>
    </div>
    </div>
    </div>
</div>
</div>



<hr>


    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card h-100">
            <img class="card-img-top" src="https://i.imgur.com/2McrpXA.png">
            <div class="card-body">
              <h5 class="card-title">The LOdown</h5>
              <p class="card-text">The health tracking app for our furry friends</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img class="card-img-top" src="https://i.imgur.com/oBSwMw4.png" style="background-color: rgb(241, 224, 181);">
            <div class="card-body">
              <h5 class="card-title">Solitaire</h5>
              <p class="card-text">Classic Game of Solitaire</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img class="card-img-top" src="https://i.imgur.com/n04RRep.png?1" style="background-color: rgb(49,51,50);">
            <div class="card-body">
              <h5 class="card-title">.CAMP</h5>
              <p class="card-text">A collection of campsites</p>
            </div>
          </div>
        </div>
      </div>
      <br><br>

</main>

{% endblock %}